<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="place_mapper">
	<delete id="deleteAllPhotoData">
		DELETE FROM PHOTO_DATA
	</delete>

	<delete id="deleteAllPlaceReview">
		DELETE FROM PLACE_REVIEW
	</delete>

	<delete id="deleteAllTravelLogs">
		DELETE FROM TRAVEL_LOGS
	</delete>

	<delete id="deleteAllPlanDetails">
		DELETE FROM PLAN_DETAILS
	</delete>

	<delete id="deleteAllWishlist">
		DELETE FROM WISHLIST
	</delete>

	<delete id="deleteAllPlaceHours">
		DELETE FROM PLACE_HOURS
	</delete>

	<delete id="deleteAllPlaceTagMap">
		DELETE FROM PLACE_TAG_MAP
	</delete>

	<delete id="deleteAllPlace">
		DELETE FROM PLACE
	</delete>

	<update id="dropSeqPlaceNo" statementType="STATEMENT">
		BEGIN
			EXECUTE IMMEDIATE 'DROP SEQUENCE SEQ_PLACE_NO';
		EXCEPTION
			WHEN OTHERS THEN
				IF SQLCODE != -2289 THEN
					RAISE;
				END IF;
		END;
	</update>

	<update id="createSeqPlaceNo" statementType="STATEMENT">
		BEGIN
			EXECUTE IMMEDIATE 'CREATE SEQUENCE SEQ_PLACE_NO START WITH 1 INCREMENT BY 1';
		END;
	</update>

	<update id="dropSeqPlaceTagMapNo" statementType="STATEMENT">
		BEGIN
			EXECUTE IMMEDIATE 'DROP SEQUENCE SEQ_PLACE_TAG_MAP_NO';
		EXCEPTION
			WHEN OTHERS THEN
				IF SQLCODE != -2289 THEN
					RAISE;
				END IF;
		END;
	</update>

	<update id="createSeqPlaceTagMapNo" statementType="STATEMENT">
		BEGIN
			EXECUTE IMMEDIATE 'CREATE SEQUENCE SEQ_PLACE_TAG_MAP_NO START WITH 1 INCREMENT BY 1';
		END;
	</update>

	<update id="dropSeqHoursId" statementType="STATEMENT">
		BEGIN
			EXECUTE IMMEDIATE 'DROP SEQUENCE SEQ_HOURS_ID';
		EXCEPTION
			WHEN OTHERS THEN
				IF SQLCODE != -2289 THEN
					RAISE;
				END IF;
		END;
	</update>

	<update id="createSeqHoursId" statementType="STATEMENT">
		BEGIN
			EXECUTE IMMEDIATE 'CREATE SEQUENCE SEQ_HOURS_ID START WITH 1 INCREMENT BY 1';
		END;
	</update>

	<select id="getNextPlaceNo" resultType="long">
		SELECT SEQ_PLACE_NO.NEXTVAL FROM DUAL
	</select>

	<insert id="updateAreaBasedListPlaces" parameterType="placeDTO">
		INSERT INTO PLACE (
        PLACE_NO, PLACE_CONTENT_ID, PLACE_NAME, PLACE_CATEGORY, PLACE_ADDRESS, 
        PLACE_LATITUDE, PLACE_LONGITUDE, PLACE_RATING, 
        PLACE_NUMBER, PLACE_THUMBNAIL_URL
    ) VALUES (
        #{placeNo}, #{placeContentId}, #{placeName}, #{placeCategory}, #{placeAddress},
        #{placeLatitude}, #{placeLongitude}, 0, 
        #{placeNumber}, #{placeThumbnailUrl}
    )
	</insert>

	<insert id="insertPlaceTagMap" parameterType="com.app.dto.PlaceTagMapDTO">
		INSERT INTO PLACE_TAG_MAP (
			PLACE_TAG_NO, PLACE_NO, TAG_CODE, TAG_WEIGHT, TAG_SOURCE, TAG_CONFIDENCE
		) VALUES (
			SEQ_PLACE_TAG_MAP_NO.NEXTVAL, #{placeNo}, #{tagCode}, #{tagWeight}, #{tagSource}, #{tagConfidence}
		)
	</insert>

	<insert id="insertPlaceHours" parameterType="com.app.dto.PlaceHoursDTO">
		INSERT INTO PLACE_HOURS (
			HOURS_ID, PLACE_NO, DAY_OF_WEEK, OPEN_TIME, CLOSE_TIME,
			BREAK_STRAT_TIME, BREAK_END_TIME, LAST_ORDER, IS_CLOSED
		) VALUES (
			SEQ_HOURS_ID.NEXTVAL, #{placeNo}, #{dayOfWeek}, #{openTime}, #{closeTime},
			#{breakStratTime}, #{breakEndTime}, #{lastOrder}, #{isClosed}
		)
	</insert>

	<select id="selectPlacesForHoursImport" resultType="placeDTO">
		SELECT
			PLACE_NO,
			PLACE_CONTENT_ID,
			PLACE_CATEGORY
		FROM PLACE
		WHERE PLACE_CONTENT_ID IS NOT NULL
		ORDER BY PLACE_NO
	</select>
</mapper>
