<?xml version="1.0" encoding="UTF-8"?>						
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"						
					"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.app.dto.UserDTO" alias="UserDTO" />
		<typeAlias type="com.app.dto.TravelPlanDTO" alias="TravelPlanDTO" />
		<typeAlias type="com.app.dto.PlanDetailDTO" alias="PlanDetailDTO" />
		<typeAlias type="com.app.dto.CommunityDTO" alias="CommunityDTO" />
	</typeAliases>


</configuration>
